        <header id="globalHeader" class="nav">
          <div class="container">
            
            <div class="row">
              <p class="pull-right small">     
                <a>support@locader.com</a>| logged in: 
                    <a class="orange"><!-- {{username}} -->bnapoliello  </a>
                </p>
            </div>

            <div class="row">
              <div id="logo" class="col-sm-3">Logo</div>
              <div class="col-sm-9">
                <!-- {{globalNav}} -->
                <ul id="globalNav" class="nav nav-pills">
                  <li><a href="#">Customers</a></li>
                  <li><a href="#" class="active">Campaigns</a>
                    <ul class="nav nav-pills subnav">
                      <li><a href="#">My Campaign</a></li>
                      <li><a href="#">Create Campaign</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Media Market</a></li>
                </ul>
              </div>
            </div>

          </div>

        </header> <!-- #globalHeader -->


        <div id="pageHeader">
          <div class="container">
            <h1 class="orange"><!-- {{pageTitle}} -->Create Campaign<br/>
                <small><!-- {{pageSubtitle}} -->Choose how you will reach your target audience</small></h1>
          </div>
        </div> <!-- #pageHeader -->

        <div id="pageContent" class="container">

            <!-- {{ pageContent }} -->
