
<section id="chooseLocations" class="row">
  <div class="col-sm-4 col-sm-offset-4">
  <h3 class="">What Location will you be working with?</h3><br class="br2"/>
  
  <h3 class="orange text-left row">Locations</h3>
  <accordion class="">

    <accordion-group class="row" ng-repeat="location in campaignLocations" is-open="status.open">
        <accordion-heading class="text-left">
          <input type="checkbox" id="#location{{location.ID}}" ng-checked="status.open" ng-model="location.ID"/>
          <label class="check col-sm-12" for="#location{{location.ID}}">{{location.Name}}
            <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': !status.open, 'glyphicon-chevron-down': status.open}"></span>
          </label>
        </accordion-heading>
          
          <ul class="list-unstyled">
            <li ng-repeat="sublocation in location.SubLocations">
              <fieldset class="checkbox row text-left">
                <label class="col-sm-11">
                  <input id="{{sublocation.ID}}" ng-model="sublocation.Selected" 
                  ng-change=""
                  type="checkbox"/>
                  <label for="{{sublocation.ID}}" class="check" >{{sublocation.Name}}</label>
                </label>
              </fieldset>
              <br/>
              <ul class="list-unstyled">
                <li ng-repeat="region in sublocation.SubLocations">
                  <fieldset class="row checkbox text-left">
                    <label for="" class="col-sm-11">
                      <input type="checkbox" ng-checked="sublocation.Selected">
                      <label for="{{region.ID}}" class="check">{{region.Name}}</label>
                    </label>
                  </fieldset>
                </li>
              </ul>

          </li>
        </ul>

    </accordion-group>

  </accordion>
  </div>
  <div class="row">
    <button class="cta next col-sm-2 col-sm-offset-5" data-dismiss="modal" ng-click="">Done</button>
  </div>
</section>

