<h3 class="orange text-left row">Locations</h3>
<accordion class="accordion" close-others="false">
    <accordion-group class="row" ng-repeat="state in campaignLocations" is-open="status.open">
      <accordion-heading class="text-left">
        <input type="checkbox" id="#state{{state.ID}}" 
               ng-checked="status.open" 
               ng-model="state.Selected"
               ng-change="selectionHandler(state, campaignLocations)"/>
        <label class="check col-sm-12" for="#state{{state.ID}}" ng-click="selectionHandler(state, campaignLocations, campaignLocations, !status.open)">{{state.Name}}
          <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-right': !status.open, 'glyphicon-chevron-down': status.open}"></span>
        </label>
      </accordion-heading>
        
        <ul class="list-unstyled">
          <li ng-repeat="city in state.SubLocations">
            <fieldset class="checkbox row text-left">
              <label class="col-sm-11">
                <input type="checkbox" id="{{city.ID}}" 
                      ng-model="city.Selected"
                      ng-change="selectionHandler(city, campaignLocations, [state])"/>
                <label for="{{city.ID}}" class="check" >{{city.Name}}</label>
              </label>
            </fieldset>
            <br/>
            <ul class="list-unstyled">
              <li ng-repeat="region in city.SubLocations">
                <fieldset class="row checkbox text-left">
                  <label for="" class="col-sm-11">
                    <input type="checkbox" id="{{region.ID}}"
                          ng-model="region.Selected"
                          ng-change="selectionHandler(region, campaignLocations, [city, state])"/>
                    <label for="{{region.ID}}" class="check">{{region.Name}}</label>
                  </label>
                </fieldset>
              </li>
            </ul>

        </li>
      </ul>

    </accordion-group>

</accordion>