<li class="row" ng-repeat="cluster in selectedClusters">
  <section class="col-xs-4 col-md-3">
    <div class="thumbnail circle no-border"><img src="https://cdn.tutsplus.com/photo/uploads/legacy/270_skyline/sandiegoskyline2.jpg"/></div>
  </section>
  <section class="cluster-copy col-xs-8 col-sm-7 col-md-8">
    <h5>Cluster {{cluster.ClusterNumber}}</h5>
    <h2>{{cluster.Name}}</h2>
    <p class="descrip"> 
      {{cluster.Description}}
    </p>
    
    <p ng-show="cluster.showLearnMore">
      {{cluster.learnMore}}
    </p>
    <p>
      <span ng-hide="customerFilter == 'Potential Customers'">
        % of customer base: <span class="orange">{{cluster.Percent | number:1}} %</span> | 
      </span>
      # of customers: <span class="orange">{{cluster.CountCurrentCustomers}}</span>
    </p>
    <div class="row">
      <a class="col-sm-4" ng-click="cluster.showLearnMore = !cluster.showLearnMore"> 
        <!-- learn {{cluster.showLearnMore || 'empty'}} </a> -->
        <span class="glyphicon" ng-class="cluster.showLearnMore ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down' "></span>
        <strong class="text-link">{{cluster.showLearnMore === true ? 'Close' : 'Learn More'}}</strong>
      </a>
      <a class="col-sm-6">
        <span class="glyphicon glyphicon-download"></span> 
        <strong class="text-link">Download Customer Kit</strong>
      </a>
    </div>
  </section>
  <section class="col-sm-1 checkbox last">

        <input type="checkbox" class="big" id="cluster{{cluster.ClusterNumber}}"
                               ng-model="selectedItems"
                               ng-checked="cluster.Selected" 
                               ng-change="updateList(cluster, selectedItems)"
                               value="{{cluster.Name}}"/>
        <label for="cluster{{cluster.ClusterNumber}}" class="check check-large" ></label>       

  </section>
</li>
